{% extends "::frontend.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block head_style %}
	{{ parent() }}
	{% stylesheets filter="cssrewrite"
		'bundles/cptermsdemo/css/login.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock head_style %}

{% block content %}
{% if error %}
	<div>{{ error|trans }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form form-signin" role="form">
	<h2 class="form-signin-heading">{{ 'security.login.heading'|trans }}</h2>
	<input type="text" class="form-control" id="username" name="_username" required="required" placeholder="{{ 'security.login.username'|trans }}" autofocus />
	<input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" />
	<div class="checkbox">
		<label for="remember_me" >
			<input type="checkbox" class="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
		</label>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-block" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
	</div>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
</form>
{% endblock %}
